body{
    margin: 0; /*resest mac dinh */
        font-family: sans-serif;
        background: wheat;

}
h3 {
    text-align: center; /*can chinh vi tri chu hoac phan tu dang inline theo chieu ngang cua phan tu html chua dang */
    font-size: 30px;
    margin: 0;
    padding: 10px;
}
a{
    text-decoration: none; /*tuy chinh duong gan chan*/
}
.gallery{
    display:flex; /* giup sap xep bo cuc 1 cach ro dang*/
    flex-wrap: wrap;/* khi tang chieu rong cac item k nhay khoi hang*/
        width: 30%;     
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float :left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0, 0.25),0 10px 10px rgba(0,0,0, 0.22  ); /*vien box*/
    transition: .4s; /*toc do hieu ung*/
    background: rgb(228, 222, 222);

}   
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0, 0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px,-8px);/*hieu ung khi tro chuot vao form di chuyen len xuong*/
}
.image{
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 0 auto  ;
    display: block;
}
p{
    text-align: center;
    color: #b2bec3;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: blueviolet ;
    margin: 0   ;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}
li{
    padding-top: 5px;
}
