*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: 14px/18px Arial,Helvetica,sans-serif;
    color: #333;
    outline: none;
}
/* header background */

/* */
/* 3 class con cua than header  */
/*  */
/*  */
header{
        /* padding-bottom: 15px; */
        width: 100%;
        background: #4cb551;
        
}
.header {
    margin: auto;
    width:  100%;
    max-width: 1200px;
    min-width: 1024px;
    /* height: 110px; */
    padding:15px 0;
    background: #4cb551;

}
/* an link tim kiem */
.bg-search{

    position: fixed;
    top:110px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgb(160, 156, 156);
    opacity: 3;
    z-index: 3;
    display: none;
}
 .bg-search:focus .search>input[type="text"]
{
display: block;
background: #309c3e;

}

/* 3 class nam trong header_top  -- header__banner owl-carousel owl-loaded owl-drag --- Khu vuc div lon con cua div header_top */
.header__banner .owl-carousel .owl-loaded .owl-drag{}

/* 3 div lon nam trong  header__banner .owl-carousel .owl-loaded .owl-drag  la owl-stage-outer */
.owl-stage-outer{
}
.owl-carousel .owl-stage-outer{
    position: relative;
    overflow: hidden;
}
.header__top{
    background: #FFC565;
}
/*  */
/*  */
/* Khu Vuc Div con cua */
/*  */
/* .header .verLsmh cac the class nam trong 2 class lon head va main-menu*/
/* 2 class head va main menu */
/* head */
.head {
    display: flex;
    width: 100%;
    padding: 10px;
      justify-content: space-between; 
     /* padding: 0 0 10px; */
    position: relative; 
     align-items: center; 
}
/* the con cua head */
.logoak{
    width: 154px;
     height: 40px;
  
}
.iconak-logoak {
    background-repeat: no-repeat;
    background-image: url('icon-ankhang-desktop.png') ;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    background-size: 393px 440px;
	width: 153px;
	height: 40px;
}
.location{
    
    width: 130px;
   display: inline-block;
    border-radius: 4px;
    color: white;
    background: #309c3e;
 
    height: 40px;
}
/* a .location span{} */
.iconak-localhead{
    background-position: -158px 0;
    background-image: url('icon-ankhang-desktop.png');
    background-repeat: no-repeat;
    background-size: 393px 440px;
    display: inline-block;
    width: 17px;
    height: 20px;
}
input[type="text"]:hover{
    background: rgb(235, 235, 231);
   
}
.search{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    border: 1px green none  ;
    background-color: white ;
    margin-left: 10px;
}
input[type="text"]
{  
   padding: 10px 10px 10px;
     outline: 10px;
    border: 0px white none;
    border-radius: 6px;
    width: 350px;
    height: 30px;
}

.iconak-search{
    background-position: -183px -2px;
    background-image: url('icon-ankhang-desktop.png');
    background-size: 393px 440px;
    background-repeat: no-repeat;
    display: inline-block;
     vertical-align: middle; 
    width: 18px;
    height: 19px;
}
/* chua icon shop cart */
.header__cart {
    position: relative;
    background: #309c3e;
    border-radius: 4px;
  
     padding: 4px ;
    display: flex;
    margin-right: 10px;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    height: 42px;
    width:130px;
}
.header__cart  span{
    min-width: 14px;
    position:absolute;
    border-radius: 45px;
    font-size: 9px;
    background: rgb(238, 237, 236);
    bottom: 6px;
    left: 18px;
    padding: 0 2px;
    line-height: 13px;
}
/* chua icon shop cart */

.iconak-cart{
    background-position: -211px -1px;
    background-image: url('icon-ankhang-desktop.png');
    background-size: 393px 440px;
    display: inline-block;
    background-repeat: no-repeat;
    height: 28px;
    width: 29px;
}
/* hien thi tien gio hang headder */
.header__cart-money{
    padding: 3px 5px;
    display: inline-block;
    vertical-align: middle;
    color: #f8f9fa;
    text-align: center;
    line-height: 14px;
    font-size: 12px;
}
header__cart-icon{
    margin:20px;
}
/* chon 1 hang */
/* .bor1{
    width: 25px;
    height: 25px;
    box-shadow: 10px;
    border: 0px solid;
    color:white ;
    border-radius: 20px;
    background-color: #f8f9fa;
} */
.login-lsmh{
    align-items: center;
    border-radius: 4px;
    background-color: #309c3e;
    display: flex !important;
    margin-right: 10px;
    min-width: 110px;
    padding: 5px 6px;
    width: 110px;
    color: white;
    text-align: center;
    font-size: 13px;
}
.iconak-lsmh{
    background-position: -337px -314px;
    background-image: url('icon-ankhang-desktop.png');
    background-size: 393px 440px;
    display: inline-block;
    width: 32px;
    height: 24px;
    
}
.hotline-head{
    display: inline-block;
    text-align: center;
}
.hotline-head span{
    display: block;
    overflow: hidden;
    text-align: center;
    color:rgb(245, 243, 238);
}
.hotline-head a{
    display: block;
    overflow: hidden;
    text-align: center;
    color:#ffd63a;
    font-size: 16px;
    line-height: 14px;
    font-weight: 600;
}
/* .main-menu */
.main-menu{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.main-menu .cate-menu{
    display: block;
    padding: 0 0 16px;
    margin: 0 3px;
    position: relative;
}
strong{
    display: block;
    overflow: hidden;
    color: #fff;
    font-size: 13px;
    /* line-height: 14px;
    padding: 16px 0 0; */
    /* text-transform: uppercase;
    cursor: pointer;
    content: ''; */
}
.main-menu .list-medict{
    display: none;
    padding: 20px 0;
    position: absolute;
     /* top :35px;
    left: -40px; */
    width: 390px; 
    background: rgb(231, 236, 231);
    border-radius: 12px;
    /* z-index: 3; 
    padding: 0 0 20px; */
    box-shadow: 0 4px 4px rgba(0 , 0 ,0 ,.25);
}
.cate-menu{

}
.main-menu:hover .list-medict{
    display:block;
    background-color: rgb(241, 248, 239);

}
 .list-medict li:hover{
    background-color : #c9d1cb   ;
}  
.list-medict a{
    text-decoration: none;
  
}
.list-medict li span{
    display: block;
    overflow: hidden;
    color: #222;
    font-weight: 600;
    line-height: 16px;
    font-size: 13px;
    cursor: pointer;
    padding: 12px 20px;
}
.cate-menu strong{
    display:  block;
    overflow: hidden;
    color: #fff;
    font-size: 13px;
    line-height: 14px;
    padding: 16px 0 0;
    text-transform: uppercase;
    cursor: pointer;
}
.iconak-gocskhoe{
    background-image: url('icon-ankhang-desktop.png');
    background-position: -344px 0;
    background-size: 393px 440px;
    display: inline-block;
    height: 17px;
    width: 13px;
}
.cate-menu-store{
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.cate-menu-store >span {
  
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;

}
.cate-menu-store {
display: inline-block;
vertical-align: middle;
margin-right: 2px;}
ul{
    list-style: none;
}
.root-cate-1{
    display: flex;
    height: 40px;
    width: 168px;
    margin: 0 4px 4px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}
.root-cate-sk{
    text-align: center;
}


.icon-gocsk1{
    background-image:url('icon-ankhang-desktop.png');
    background-position: -200px -198px;
    background-size: 393px 440px;
    display: inline-block;
    width: 96px;
    height: 12px;
}
