body{
    width: 100%;
    margin: 20px 20px;
    background: rgb(208, 213, 218);
    background-image:url('download\ .jpeg');    
    background-size: cover;
    display: flex;
    justify-content: right;
   
}
.container{
    border: 1px rgb(17, 17, 17) solid;
    width: 700px;
    height: 600px;
    display: flex;
    background: white;
    border-radius: 30px;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.input-container {
  display: flex;
  margin-bottom: 15px;
}

.icon {
  padding: 20px;
  background-image: url('icon.png');
  background-size: cover;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline:10px;
}

.input-field:focus {
  border: 2px solid rgb(36, 95, 155);
}

.btn {
  background-color: rgb(10, 224, 82);
  color: white;
  padding: 15px 20px;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

