*{
    box-sizing: border-box; /*dau * tat ca khung web  */
    background:rgb(rgb(184, 24, 24), green, blue) ;
}


input[type=text],  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(15, 14, 14)  ;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    box-sizing: border-box;
    box-shadow:none;
  }

  input[type=submit] {
    background-color: #aebbb6;
    color: white;
    padding: 12px 20px;
    border: none;
    margin-left: 50px;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=text]:hover{
    
   box-shadow: 0 5px 10px rgba(215, 230, 5, 0.89);
  }
  textarea:hover{
    box-shadow: 0 5px 10px rgba(215, 230, 5, 0.89);

  }
  input[type=submit]:hover {
    background-color:rgb(7, 189, 16);
  }
  .bodysaming{
    background-color: #abb4ab;
    width: 300px;
    height: 600px;
   
  }
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 290px;
  }
